@charset "UTF-8";

/* Tablet */ 
@media  screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #011526,  #034c8b);
    }
    
    #login {
        width: 90vw;
        height: 280px;
    }

    #imagem {
        float: left;
        width: 35%;
        height: 100%;
        margin-right: 20px;
    }

    form {
        display: block;
        float: left;
        width: 61%;
    }
}


/* Telas grandes */
@media  screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #011526,  #034c8b);
    }

    #login {
        width: 940px;
        height: 310px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-position: left center;
    }

    #formulario {
        
    }
    
    form {
        display: block;
        float: left;
        width: 49%;
    }

    #formulario > h1 {
        font-size: 2em;
    }

    #formulario > p {
        font-size: 1em;
        margin-bottom: 10px;
    } 
    
}