@charset "UTF-8";

/* Paleta de cores 
--------------------
cor 1: #03318C
cor 2: #012340
cor 3: #011526

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #034c8b;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.421);

    transition: width .2, height .2;
    transition-timing-function: ease;
}

#imagem {
    display: block;
    background: #034c8b url(../imagens/pexels-giovanaspiller-16580466.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
}

#formulario {
    display: block;
    padding: 10px;
}